# list is mutable

In [12]:
li = ['apple', 'mango', 'banana', 'orange']

In [2]:
li

['apple', 'mango', 'banana', 'orange']

In [3]:
li[0]

'apple'

In [4]:
li[-1]

'orange'

In [5]:
li[-2]

'banana'

In [6]:
li[-4]

'apple'

In [7]:
type(li)

list

In [8]:
len(li)

4

## list supports different types of element

In [13]:
li2 = ['Farhan', 1505105, 'B', 1152139, 105, 139]

In [14]:
type(li2[0])

str

In [15]:
type(li2[-1])

int

In [16]:
type(li2[-2])

int

In [17]:
li2[0:3] # from index 0 , upto not including index 3

['Farhan', 1505105, 'B']

In [19]:
li2[1:3] # from index 1 , upto not including index 3

[1505105, 'B']

In [21]:
li2[0:len(li2):2]

['Farhan', 'B', 105]

In [22]:
li2[:-1] # last element is -1 so, from first up to but not including last element

['Farhan', 1505105, 'B', 1152139, 105]

In [23]:
li2[-5:-1]

[1505105, 'B', 1152139, 105]

In [26]:
li2[-len(li2):] # print everything in the list

['Farhan', 1505105, 'B', 1152139, 105, 139]

In [28]:
li2[len(li2)-1:]

[139]

In [30]:
li2[::-1] # returns the reversed list

[139, 105, 1152139, 'B', 1505105, 'Farhan']

## list is mutable

In [31]:
li2[0] = 'FARHAN UTSHAW'

In [32]:
li2

['FARHAN UTSHAW', 1505105, 'B', 1152139, 105, 139]

## adding element in list

In [33]:
li2 = li2 + ['this is some appended thing']

In [34]:
li2.append('appended thing')

In [35]:
li2

['FARHAN UTSHAW',
 1505105,
 'B',
 1152139,
 105,
 139,
 'this is some appended thing',
 'appended thing']

## existence of element in list

In [6]:
l = ['a', 'b', 'c', 'd', 'e']

'a' in l

True

# revrerse list only works on int, float; doesn't work on char

In [19]:
l = [1,2,3,4,5,6]
l.reverse()
print(l)

[6, 5, 4, 3, 2, 1]

In [20]:
l.sort()
print(l)

[1, 2, 3, 4, 5, 6]

## insert at specific position inside the list

In [21]:
l.insert(0,-123) # insert -123 at index 0 and shift everything else to right
print(l)

[-123, 1, 2, 3, 4, 5, 6]

## append vs extend two lists

In [25]:
li = [1,2,3,4,5,6]
li2 = [100,101,102]
li.append(li2) # append li2 as list in the last of li
print(li)

li = [1,2,3,4,5,6]
li2 = [100,101,102]
li.extend(li2)  # extend li to accomodate all of li2 elements
print(li)

[1, 2, 3, 4, 5, 6, [100, 101, 102]]
[1, 2, 3, 4, 5, 6, 100, 101, 102]

# how many times a element is in a list

In [28]:
li = [1,2,2,2,2,3,2,2,2,2]
print(li.count(2))
print(li.count(3))
print(li.count(123))

8
1
0

## remove by specifying element

In [31]:
li = [101,102,103,104,105,106]
li.remove(104) # remove 104 and shifts the rest to left
print(li)

[101, 102, 103, 105, 106]

## remove/pop element by specifying index

In [35]:
li = [101,102,103,104,105,106,107]
print(li.pop()) # returns and remove last item
print(li)

print(li.pop(2)) # returns and remove item with index no 2
print(li)

107
[101, 102, 103, 104, 105, 106]
103
[101, 102, 104, 105, 106]

## duplicate list items

In [37]:
li = [100]
li =li*100
print(li)

[100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100]

## list assignment (= sign) uses reference

In [39]:
li2 = [1,2,3,4,5]
li = li2
li2.pop()
print(li)

[1, 2, 3, 4]

## c